::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-button {
    background-color: lightgrey;
    /*-webkit-box-shadow:*/
            /*inset 0px 0px 0px 1px #666666,*/
            /*inset 0px 0px 0px 2px black;*/
    width: 18px;
    height: 18px;
    background-position: center;
}
::-webkit-scrollbar-button:hover {
    background-color: white;
}
::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(../../../icons/arrow-right.png);
}
::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(../../../icons/arrow-left.png);
}
::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../../../icons/arrow-down.png);
}
::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../../../icons/arrow-up.png);
}


::-webkit-scrollbar-track {
    background-color: lightgrey;
}

::-webkit-scrollbar-track-piece {
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    /*-webkit-box-shadow:*/
            /*inset 0px 0px 0px 2px #666666,*/
            /*inset 0px 0px 0px 3px black;*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
    /*-webkit-box-shadow:*/
            /*inset 0px 0px 0px 2px #666666,*/
            /*inset 0px 0px 0px 4px black;*/
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-resizer {
}