<page-header
        [title]="'Ag-Grid'"
        [subtitle]="'Showcase for a grid component using Ag-Grid'">
</page-header>

<div [context-menu]="links" class="title">Users</div>

<div class="btn-group toolbar" role="group">
    <button type="button" class="btn btn-default" (click)="addRow($event)">
        <span class="glyphicon glyphicon-plus" style="color: green;"></span>
        Add
    </button>
    <button type="button" class="btn btn-default" (click)="changeRow($event)">
        <span class="glyphicon glyphicon-edit"></span>
        Update
    </button>
    <button type="button" class="btn btn-default" (click)="deleteRow($event)">
        <span class="glyphicon glyphicon-remove" style="color: red;"></span>
        Delete
    </button>
</div>

<div style="-webkit-flex: 1; position: relative;">
    <ag-grid-ng2 class="ag-nesi-dark"
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"

                 [gridOptions]="gridOptions"
                 [columnDefs]="columnDefs"
                 [showToolPanel]=false
                 [rowData]="rowData"

                 enableColResize
                 enableSorting
                 enableFilter
                 groupHeaders
                 toolPanelSuppressGroups
                 toolPanelSuppressValues
                 debug

                 (mousedown)="onMousedown($event)"

                 (modelUpdated)="onModelUpdated()"
                 (cellClicked)="onCellClicked($event)"
                 (cellDoubleClicked)="onCellDoubleClicked($event)"
                 (cellContextMenu)="onCellContextMenu($event)"
                 (cellValueChanged)="onCellValueChanged($event)"
                 (cellFocused)="onCellFocused($event)"
                 (rowSelected)="onRowSelected($event)"
                 (selectionChanged)="onSelectionChanged()"
                 (beforeFilterChanged)="onBeforeFilterChanged()"
                 (afterFilterChanged)="onAfterFilterChanged()"
                 (filterModified)="onFilterModified()"
                 (beforeSortChanged)="onBeforeSortChanged()"
                 (afterSortChanged)="onAfterSortChanged()"
                 (virtualRowRemoved)="onVirtualRowRemoved($event)"
                 (rowClicked)="onRowClicked($event)"
                 (ready)="onReady($event)"

                 (columnEverythingChanged)="onColumnEvent($event)"
                 (columnRowGroupChanged)="onColumnEvent($event)"
                 (columnValueChanged)="onColumnEvent($event)"
                 (columnMoved)="onColumnEvent($event)"
                 (columnVisible)="onColumnEvent($event)"
                 (columnGroupOpened)="onColumnEvent($event)"
                 (columnResized)="onColumnEvent($event)"
                 (columnPinnedCountChanged)="onColumnEvent($event)">
    </ag-grid-ng2>
</div>