<page-header
        [title]="'Javabridge-Grid'"
        [subtitle]="'Showcase'">
</page-header>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-success" (click)="addRow($event)">Add</button>
    <button type="button" class="btn btn-info" (click)="changeRow($event)">Update</button>
    <button type="button" class="btn btn-danger" (click)="deleteRow($event)">Delete</button>
</div>

<div style="-webkit-flex: 1; position: relative;">
    <ag-grid-ng2 class="ag-fresh"
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"

                 [gridOptions]="gridOptions"
                 [columnDefs]="columnDefs"
                 [showToolPanel]=false
                 [rowData]="rows"

                 enableColResize
                 enableSorting
                 enableFilter
                 groupHeaders
                 toolPanelSuppressGroups
                 toolPanelSuppressValues
                 debug
                 rowHeight="22"

                 (rowSelected)="onRowSelected($event)">
    </ag-grid-ng2>
</div>