<div style="display: -webkit-flex;
            -webkit-justify-content: flex-end;
            -webkit-align-items: center;
            background-color: gold;
            height: 30px">
    <div [textContent]="'Username: ' + credentialsService.username"></div>
    &nbsp;
    &nbsp;
    <div [textContent]="'Password: ' + credentialsService.password"></div>
    &nbsp;
    &nbsp;
    <div class="label"
         [ngClass]="{'label-success': wsService.socket.connected, 'label-danger': !wsService.socket.connected}"
         [textContent]="wsService.socket.connected ? 'WS-Connected' : 'WS-Disconnected'">
    </div>
    &nbsp;
    &nbsp;
    <div class="label"
         [ngClass]="{'label-success': wsService.socket.authenticated, 'label-danger': !wsService.socket.authenticated}">
        WS-Authentication
    </div>
    &nbsp;
    &nbsp;
    <div [hidden]="!loginService.isLoggedIn">
        <button class="btn btn-xs btn-info" (click)="logout($event)">Logout</button>
    </div>
    &nbsp;
    &nbsp;
    <button class="btn btn-xs btn-default" (click)="switchTheme()">Switch Theme</button>
    &nbsp;
    &nbsp;
</div>