<page-header
        [title]="'Popups & Styling'"
        [subtitle]="''">
</page-header>

<div>
    Context Menu Style:
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn"
                [class.btn-info]="!isFxContextMenu"
                (click)="isFxContextMenu = false">Web-App Context Menues
        </button>
        <button type="button" class="btn"
                [class.btn-info]="isFxContextMenu"
                (click)="isFxContextMenu = true">FX Context Menues
        </button>
    </div>
</div>

<br>

<div style="display: -webkit-flex; -webkit-flex-direction:column; -webkit-flex: 1;">
    <ftpa-contextMenu #bodycm>
        <div class="ftpa-menu-item">
            <div (click)="addRow($event)"><span class="glyphicon glyphicon-plus" style="color: green;"></span>
                Add one row
            </div>
        </div>
        <div class="ftpa-menu-item">
            <div (click)="changeRow($event)"><span class="glyphicon glyphicon-edit" style="color: whitesmoke;"></span>
                Update selected row
            </div>
        </div>
        <div class="ftpa-menu-item">
            <div (click)="deleteRow($event)"><span class="glyphicon glyphicon-remove" style="color: red;"></span> Delete
                selected row
            </div>
        </div>
        <hr>
        <div class="ftpa-menu-item">
            <div (click)="copyRow($event)"><span class="glyphicon glyphicon-copy" style="color: whitesmoke;"></span>
                Copy
            </div>
        </div>
    </ftpa-contextMenu>


    <div style="-webkit-flex: 1 0 0; position: relative;">
        <ag-grid-ng2 class="ag-ftpa"
                     style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"

                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [showToolPanel]=false
                     [rowData]="rows"

                     (mousedown)="onMousedown($event)"
                     (contextmenu)="onContextMenu($event)">
        </ag-grid-ng2>
    </div>
</div>