<page-header
        [title]="'Popups & Styling'"
        [subtitle]="''">
</page-header>


<p-dialog id="dlgelement" header="FTPA Dialog" [(visible)]="displayDialog" modal="true">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton (click)="displayDialog=false" label="OK"></button>
        </div>
    </footer>
</p-dialog>

<div>
    Context-Menu Strategy:
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn"
                [class.btn-info]="!isFxContextMenu"
                (click)="isFxContextMenu = false">Web-App
        </button>
        <button type="button" class="btn"
                [class.btn-info]="isFxContextMenu"
                (click)="isFxContextMenu = true">FX
        </button>
    </div>
</div>

<br>
<div>
    Dialog Strategy:
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn"
                [class.btn-info]="!isFxDialog"
                (click)="isFxDialog = false">Web-App
        </button>
        <button type="button" class="btn"
                [class.btn-info]="isFxDialog"
                (click)="isFxDialog = true">FX
        </button>
    </div>

    <button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>
</div>
<br>

<div style="display: -webkit-flex; -webkit-flex-direction:column; -webkit-flex: 1;">
    <ftpa-contextMenu #bodycm>
        <div class="ftpa-menu-item">
            <div (click)="addRow($event)"><span class="glyphicon glyphicon-plus" style="color: green;"></span>
                Add one row
            </div>
        </div>
        <div class="ftpa-menu-item">
            <div (click)="changeRow($event)"><span class="glyphicon glyphicon-edit" style="color: whitesmoke;"></span>
                Update selected row
            </div>
        </div>
        <div class="ftpa-menu-item">
            <div (click)="deleteRow($event)"><span class="glyphicon glyphicon-remove" style="color: red;"></span> Delete
                selected row
            </div>
        </div>
        <hr>
        <div class="ftpa-menu-item">
            <div (click)="copyRow($event)"><span class="glyphicon glyphicon-copy" style="color: whitesmoke;"></span>
                Copy
            </div>
        </div>
    </ftpa-contextMenu>


    <div class="btn-group toolbar" role="group">
        <button type="button" class="btn btn-default" (click)="addRow($event)">
            <span class="glyphicon glyphicon-plus" style="color: green;"></span>
            Add
        </button>
        <button type="button" class="btn btn-default" (click)="changeRow($event)">
            <span class="glyphicon glyphicon-edit"></span>
            Update
        </button>
        <button type="button" class="btn btn-default" (click)="deleteRow($event)">
            <span class="glyphicon glyphicon-remove" style="color: red;"></span>
            Delete
        </button>
    </div>
    <div style="-webkit-flex: 1 0 0; position: relative;">
        <ag-grid-ng2 class="ag-ftpa"
                     style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"

                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [showToolPanel]=false
                     [rowData]="rows"

                     (mousedown)="onMousedown($event)"
                     (contextmenu)="onContextMenu($event)">
        </ag-grid-ng2>
    </div>
</div>