.slick-header-columns {
    border-bottom: none;
}

.slick-header-column {
    border: none;
    border-right: 1px solid #cbc7bd;
    border-bottom: 1px solid #cbc7bd;
    padding-top: 10px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.slick-header-column.ui-state-default {
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
}

.slick-sort-indicator {
    float: initial;
    margin-left: 7px;
}

.grid .ui-state-default {
    border-top: 0px;
}

.grid .slick-column-name {
    font-size: 9pt;
}

/** change hover col color like this */
/*
.grid .ui-state-hover {
    color: red;
}
*/


/*.grid {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
/*}*/




.cell-title {
    font-weight: bold;
}
.cell-effort-driven {
    text-align: center;
}
.cell-selection {
    border-right-color: silver;
    border-right-style: solid;
    background: #f5f5f5;
    color: gray;
    text-align: right;
    font-size: 10px;
}
.slick-row.selected .cell-selection {
    background-color: transparent; /* show default selected row background */
}
