<page-header [title]="'Login'"></page-header>

<p>
    Please log in in order to continue. Default username and password are: <code>ftpa/test</code>.
</p>

<form role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" #username class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" #password class="form-control" id="password" placeholder="Password">
    </div>
    <button class="btn btn-lg btn-info" (click)="login($event, username.value, password.value)">Login</button>
</form>