@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue.otf);
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

app {
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: -webkit-flex;
    display: flex;
}