.slick-header-columns {
    border-bottom: none;
    background-color: transparent;
}

.slick-header-column {
    border: none;
    border-right: 5px solid #cbc7bd;
    border-bottom: 5px solid #cbc7bd;
    /*padding-top: 20px;*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.slick-header-column.ui-state-default {
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
}

.slick-row {
    position: absolute;
    background: white;
    border: 0px;
    line-height: 20px;
}

.slick-row.selected {
    z-index: 10;
    background: #DFE8F6;
}

.slick-sort-indicator {
    float: initial;
    margin-left: 7px;
}