.ag-nesi-dark {
    line-height: 20px;
    font-family: Arial, sans-serif;
}

.ag-nesi-dark img {
    vertical-align: middle;
    border: 0px;
}

.ag-nesi-dark .ag-root {
    border: 1px solid black;
    background-color: black;
}

.ag-nesi-dark .ag-row-group-cell {
    background: -webkit-linear-gradient(#fff, #d3d3d3);
    background: -moz-linear-gradient(#fff, #d3d3d3);
    background: -o-linear-gradient(#fff, #d3d3d3);
    background: -ms-linear-gradient(#fff, #d3d3d3);
    background: linear-gradient(#fff, #d3d3d3);
    border: 1px solid #808080;
    padding: 2px;
}

.ag-nesi-dark .ag-row-group-cell-ghost {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.ag-nesi-dark .ag-row-group-cell-text {
    padding-left: 2px;
    padding-right: 2px;
}

.ag-nesi-dark .ag-row-group-cell-button {
    border: 1px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.ag-nesi-dark .ag-row-group-cell-button:hover {
    border: 1px solid #000;
}

.ag-nesi-dark .ag-row-group-empty-message {
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid transparent;
    color: #808080;
}

.ag-nesi-dark .ag-row-group-icon {
    padding-right: 4px;
}

.ag-nesi-dark .ag-row-group-panel {
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    padding: 4px;
    background-color: #f0f0f0;
}

.ag-nesi-dark .ag-cell {
    padding: 2px;
    color: white;
}

.ag-nesi-dark .ag-row-selected .ag-cell {
    color: black;
}

.ag-nesi-dark .ag-cell-range-selected-1:not(.ag-cell-focus) {
    /*background-color: rgba(120, 120, 120, 0.4);*/
}

.ag-nesi-dark .ag-cell-range-selected-2:not(.ag-cell-focus) {
    /*background-color: rgba(80, 80, 80, 0.4);*/
}

.ag-nesi-dark .ag-cell-range-selected-3:not(.ag-cell-focus) {
    /*background-color: rgba(40, 40, 40, 0.4);*/
}

.ag-nesi-dark .ag-cell-range-selected-4:not(.ag-cell-focus) {
    /*background-color: rgba(0, 0, 0, 0.4);*/
}

.ag-nesi-dark .ag-column-moving .ag-cell {
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -ms-transition: left 0.2s;
    transition: left 0.2s;
}

.ag-nesi-dark .ag-cell-focus {
    border: 1px solid #a9a9a9;
}

.ag-nesi-dark .ag-cell-no-focus {
    border-top: 0px solid transparent;
    border-right: 1px solid #393a3e;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
}

.ag-nesi-dark .ag-cell-first-right-pinned {
    border-left: 1px solid #000;
}

.ag-nesi-dark .ag-cell-last-left-pinned {
    border-right: 1px solid #000;
}

.ag-nesi-dark .ag-cell-highlight {
    border: 1px solid #006400;
}

.ag-nesi-dark .ag-cell-highlight-animation {
    -webkit-transition: border 1s;
    -moz-transition: border 1s;
    -o-transition: border 1s;
    -ms-transition: border 1s;
    transition: border 1s;
}

.ag-nesi-dark .ag-header {
    background: -webkit-linear-gradient(to bottom, #545456, #211f22);
    background: -moz-linear-gradient(to bottom, #545456, #211f22);
    background: -o-linear-gradient(to bottom, #545456, #211f22);
    background: -ms-linear-gradient(to bottom, #545456, #211f22);
    background: linear-gradient(to bottom, #545456, #211f22);
    /*border-bottom: 1px solid #808080;*/
}

/*.ag-nesi-dark .ag-no-scrolls .ag-header-container {*/
    /*background: -webkit-linear-gradient(#fff, #d3d3d3);*/
    /*background: -moz-linear-gradient(#fff, #d3d3d3);*/
    /*background: -o-linear-gradient(#fff, #d3d3d3);*/
    /*background: -ms-linear-gradient(#fff, #d3d3d3);*/
    /*background: linear-gradient(#fff, #d3d3d3);*/
    /*border-bottom: 1px solid #808080;*/
/*}*/

.ag-nesi-dark .ag-header-cell {
    /*border-right: 1px solid #808080;*/
    background: linear-gradient(to bottom, #545456, #211f22);
    border-bottom: 1px solid #393a3e;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ebebeb;
    font-weight: bold;
    text-align: left;
}

.ag-nesi-dark .ag-header-cell:hover {
    background: linear-gradient(to top, #545456, #211f22);
    color: orange;
}

.ag-nesi-dark .ag-header-cell-moving .ag-header-cell-label {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.ag-nesi-dark .ag-header-cell-moving {
    background-color: #bebebe;
}

.ag-nesi-dark .ag-header-cell-moving-clone {
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    background-color: rgba(220, 220, 220, 0.8);
}

.ag-nesi-dark .ag-header-group-cell {
    border-right: 1px solid #808080;
}

.ag-nesi-dark .ag-header-group-cell-with-group {
    border-bottom: 1px solid #808080;
}

.ag-nesi-dark .ag-header-cell-label {
    padding: 4px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    min-width: 0;
}

.ag-nesi-dark .ag-header-cell-text {
    /*padding-left: 2px;*/
    min-width: 0;
    text-overflow: ellipsis;
    -webkit-flex: 0 1 auto;
    overflow: hidden;
}

.ag-nesi-dark .ag-header-group-cell-label {
    padding: 4px;
    padding-left: 10px;
}

.ag-nesi-dark .ag-header-group-text {
    margin-right: 2px;
}

.ag-nesi-dark .ag-header-cell-menu-button {
    padding: 2px;
    margin-top: 4px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; /* When using bootstrap, box-sizing was set to 'border-box' */
    line-height: 0px; /* normal line height, a space was appearing below the menu button */
}

.ag-nesi-dark .ag-pinned-right-header {
    border-left: 1px solid #808080;
}

.ag-nesi-dark .ag-header-cell-menu-button:hover {
    border: 1px solid #000;
}

.ag-nesi-dark .ag-header-icon {
    color: red;
}

.ag-nesi-dark .ag-row-selected {
    background-color: #aed9e8 !important;
}

.ag-nesi-dark .ag-body .ag-row-odd {
    background-color: #222222;
}

.ag-nesi-dark .ag-body .ag-row-even {
    background-color: black;
}

.ag-nesi-dark .ag-floating-top .ag-row {
    background-color: #f0f0f0;
}

.ag-nesi-dark .ag-floating-bottom .ag-row {
    background-color: #f0f0f0;
}

.ag-nesi-dark .ag-overlay-loading-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.ag-nesi-dark .ag-overlay-loading-center {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

.ag-nesi-dark .ag-overlay-no-rows-center {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

.ag-nesi-dark .ag-body {
    background-color: black;
}

.ag-nesi-dark .ag-group-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-nesi-dark .ag-footer-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-nesi-dark .ag-group-cell {
    font-style: italic;
}

.ag-nesi-dark .ag-group-expand {
    padding-right: 2px;
}

.ag-nesi-dark .ag-footer-cell {
    font-style: italic;
}

.ag-nesi-dark .ag-menu {
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: default;
    font-family: Arial, sans-serif;
}

.ag-nesi-dark .ag-menu .ag-tab-header {
    background-color: #f8f8f8;
}

.ag-nesi-dark .ag-menu .ag-tab {
    padding: 6px 8px 6px 8px;
    margin: 2px 2px 0px 2px;
    display: inline-block;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.ag-nesi-dark .ag-menu .ag-tab-selected {
    background-color: #f0f0f0;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.ag-nesi-dark .ag-menu-separator {
    border-top: 1px solid #d3d3d3;
}

.ag-nesi-dark .ag-menu-option-active {
    background-color: #bde2e5;
}

.ag-nesi-dark .ag-menu-option-icon {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

.ag-nesi-dark .ag-menu-option-text {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

.ag-nesi-dark .ag-menu-option-shortcut {
    padding: 2px 2px 2px 20px;
    vertical-align: middle;
}

.ag-nesi-dark .ag-menu-option-popup-pointer {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

.ag-nesi-dark .ag-menu-option-disabled {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.ag-nesi-dark .ag-menu-column-select-wrapper {
    margin: 2px;
}

.ag-nesi-dark .ag-filter-checkbox {
    position: relative;
    top: 2px;
    left: 2px;
}

.ag-nesi-dark .ag-filter-header-container {
    border-bottom: 1px solid #d3d3d3;
}

.ag-nesi-dark .ag-filter-apply-panel {
    border-top: 1px solid #d3d3d3;
    padding: 2px;
}

.ag-nesi-dark .ag-filter-value {
    margin-left: 4px;
}

.ag-nesi-dark .ag-selection-checkbox {
    margin-left: 4px;
}

.ag-nesi-dark .ag-paging-panel {
    padding: 4px;
    display: none;
}

.ag-nesi-dark .ag-paging-button {
    margin-left: 4px;
    margin-right: 4px;
}

.ag-nesi-dark .ag-paging-row-summary-panel {
    display: inline-block;
    width: 300px;
}

.ag-nesi-dark .ag-tool-panel {
    background-color: #eee;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
}

.ag-nesi-dark .ag-status-bar {
    font-size: 12px;
    height: 20px;
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    padding: 2px;
    background-color: #f0f0f0;
}

.ag-nesi-dark .ag-status-bar-aggregations {
    float: right;
}

.ag-nesi-dark .ag-status-bar-item {
    padding-left: 10px;
}




/*//*/
/*//*/
/*//*/
.ag-header-cell-resize {
    border-right: 1px solid black;
}

#agSortAsc, #agSortDesc {
    font-size: 16px;
    color: whitesmoke;
}