<div id="snav">
    <ul>
        <li>
            <a [routerLink]="['/HomePage']"><i class="fa fa-home"></i><span>Home</span></a>
        </li>
        <li>
            <a [routerLink]="['/LoginPage']"><i class="fa fa-sign-in"></i><span>Login</span></a>
        </li>
        <li>
            <a [routerLink]="['/DragAndDropPage']"><i class="fa fa-dropbox"></i><span>Drag & Drop</span></a>
        </li>
        <li>
            <a [routerLink]="['/JavaBridgePage']"><i class="fa fa-exchange"></i><span>Java Bridge</span></a>
        </li>
        <li>
            <a [routerLink]="['/AgGridPage']"><i class="fa fa-th"></i><span>Ag Grid</span></a>
        </li>
        <li>
            <a [routerLink]="['/JavabridgeGridPage']"><i class="fa fa-th"></i><span>Javabridge Grid</span></a>
        </li>
        <li>
            <a [routerLink]="['/HobbyGridPage']"><i class="fa fa-th"></i><span>User-Hobby Grid</span></a>
        </li>
    </ul>
</div>


<div id="page-wrapper">
    <ftpa-login-info></ftpa-login-info>
    <div class="page">
        <router-outlet></router-outlet>
    </div>
    <ftpa-error-info></ftpa-error-info>
</div>