<div id="wrapper">
    <div class="overlay"></div>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a (click)="onClick()" [routerLink]="['/HomePage']">Home</a>
            </li>
            <li>
                <a (click)="onClick()" [routerLink]="['/DragAndDropPage']">Drag and Drop</a>
            </li>
            <li>
                <a (click)="onClick()" [routerLink]="['/JavaBridgePage']">JavaBridge</a>
            </li>
            <li>
                <a (click)="onClick()" [routerLink]="['/AgGridPage']">AgGrid</a>
            </li>
            <li>
                <a (click)="onClick()" [routerLink]="['/SlickGridPage']">SlickGrid</a>
            </li>
        </ul>
    </nav>

    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>

    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>

</div>