<link rel="stylesheet" type="text/css" [attr.href]="currentTheme.app"/>
<link rel="stylesheet" type="text/css" [attr.href]="currentTheme.scrollbar"/>
<link rel="stylesheet" type="text/css" [attr.href]="currentTheme.grid"/>


<div id="snav">
    <ul>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/HomePage']"><i class="fa fa-home"></i><span>Home</span></a>
        </li>
        <li [hidden]="loginService.isLoggedIn">
            <a [routerLink]="['/LoginPage']"><i class="fa fa-sign-in"></i><span>Login</span></a>
        </li>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/DragAndDropPage']"><i class="fa fa-dropbox"></i><span>Drag & Drop</span></a>
        </li>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/JavaBridgePage']"><i class="fa fa-exchange"></i><span>Java Bridge</span></a>
        </li>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/AgGridPage']"><i class="fa fa-th"></i><span>Ag Grid</span></a>
        </li>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/JavabridgeGridPage']"><i class="fa fa-th"></i><span>Javabridge Grid</span></a>
        </li>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/HobbyGridPage']"><i class="fa fa-th"></i><span>User-Hobby Grid</span></a>
        </li>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/PopupsPage']"><i class="fa fa-th"></i><span>Popups & Styling</span></a>
        </li>
        <li [hidden]="!loginService.isLoggedIn">
            <a [routerLink]="['/LoggingPage']"><i class="fa fa-th"></i><span>Logging</span></a>
        </li>
    </ul>
</div>

<div id="page-wrapper">
    <ftpa-login-info></ftpa-login-info>
    <div class="page">
        <router-outlet></router-outlet>
    </div>
    <ftpa-error-info></ftpa-error-info>
</div>